%ol.list.comments
  -@tweet.comments.each do |comment|
    %li
      %span.imgn
        = image_tag comment.user.image.url(:thumb), :height=>'50px'
      %span.body
        -if comment.user.nick
          %strong
            = link_to comment.user.nick, url(:profile, comment.user.nick)
        %span.content
          = comment.content
        %span.meta
          - if comment.file?
            == Attachments
