=form_for(Tweet.new, :action=>url(:tweets)) do
  =text_field :content, :size=>40
  =submit 'Update'

- for tweet in @tweets
  %div.tweet
    %div.user
      #display the image
      = tweet.user.login
    %div.content
      = tweet.content
      %br
      = link_to 'View', url(:edit_tweet,  tweet)
    %div.extra
      == #{tweet.comments.count} Comments
      -tweet.tags.each do |tag|
        =tag.name
    %hr
