body{
  color:#444444;
  background-color:#000000;
  font-family:"Lucida Grande","Lucida Sans Unicode","Verdana","Arial","Helvetica","sans-serif";
  font-size:0.9em;
  line-height:1.6em;
  margin:0;
  padding:0;
}

div.container{
  background-color:#fff;
  padding:7px;
  margin:30px auto;
  min-height:900px;
  width:90%;
}

div.header{
  width:100%
}

div.body{
  min-height:950px;
  overflow:auto;
  width:100%;
}

div.body-left{
  width:70%;
  padding:5px;
  float:left;
}

div.top-form{
}


div.body-right{
  width:30%;
  float:right;
}

div.footer{
  height:100px;
}

div.nav-panel{
}

ul.nav-panel {
  line-height:40px;
  margin:0;
  padding:0;
  white-space:nowrap;
  float:right;
}

li.nav-panel {
  display:inline;
  float:left;
  list-style-type:none;
}

li.nav-panel a:hover {
  font-weight:bold
  color:#2FC2EF;
}

a {
  text-decoration:none;
  color:#2FC2EF;
}

a:visited {
  text-decoration:none;
}

form.form{
  height:100px;
}

div.top-form form.form input.submit{
  float:right;
  margin-right:5px;
}

div.tweet{
  height:125px;
}

div.user{
  float:left;
  height:100px;
}

div.content{
  margin-left:75px;
}

div.view{
  padding:5px;
}

div.tags{
}

div.extra{
}

textarea.comment{
}

div.left{
  float:left;
  width:65%
}

div.right{
  float:right;
}
