body{
  color:#444444;
  background-color:#000000;
  font-family:"Lucida Grande","Lucida Sans Unicode","Verdana","Arial","Helvetica","sans-serif";
  font-size:0.9em;
  line-height:1.6em;
  margin:0;
  padding:0;
}

div.container{
  margin:15px auto;
  width:90%;
  overflow: hidden;
}

div.header{
  margin:3px 2px 5px;
  width:100%;
  min-height:80px;
}

div.body{
  margin:2px 2px;
  min-height:1000px;
  width:100%;
}

div.footer{
  margin:5px 2px 3px;
  padding:5px 0;
  background:#FFFFFF none repeat scroll 0 0;
  line-height:1;
  text-align:center;
  white-space:nowrap;
}

div.body-left{
  margin:2px 1px 2px;
  padding: 2px 10px;
  float:left;
  width:77%;
  background-color:#FFFFFF;
  min-height:990px;
}

div.body-right{
  margin:2px 1px 2px 0px;
  padding: 2px 5px;
  float:right;
  width:19%;
  background-color:#252429;
  min-height:990px;
}

div.top-text {
  background-color:#111111;
  padding:7px;
  float:left;
}

div#header-panel{
  margin-right:5px;
}

ul.nav-panel {
  line-height:40px;
  background:#222222;
  margin:0;
  padding:0px 10px;
  white-space:nowrap;
  float:right;
}

li.nav-panel {
  display:inline;
  float:left;
  list-style-type:none;
}

li.nav-panel a:hover {
  font-weight:bold
}

a, a:hover, a:visited {
  text-decoration:none;
}

a{
  color: #AAAAAA;
}

div.top-form {
  min-height: 120px;
  padding-right: 10px;
}

input[type="submit"] {
  cursor:pointer;
}

.status-button {
  background-image:url("/images/round-btn.gif");
  border:medium none navajoWhite;
  color:#AAAAAA;
  float:right;
  height:32px;
  width:116px;
}

.button {
  border:medium none navajoWhite;
  color:#AAAAAA;
}

textarea, input[type="text"] {
  border: 1px solid #AAAAAA;
  padding: 4px 2px;
}

.heading {
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 5px;
}

div.tweet {
  border-bottom:1px dashed #D2DADA;
  position: relative;
  margin-top: 5px;
  padding-bottom:2px;
  padding-top:2px;
}

span.nick{
  position: absolute;
  padding-left: 3%;
}

span.imgn{
  display:block;
  height:50px;
  margin:0 10px 0 5px;
  overflow:hidden;
  width:50px;
  float:left;
}

span.body{
  display:block;
  overflow:hidden;
  width:90%;
}

span.meta{
  color:#999999;
  display:block;
  font-family:georgia;
  font-size:0.8em;
  font-style:italic;
  margin:3px 0 0;
}

span.actions{
  border-width:0;
  line-height:1.25em;
  position:absolute;
  right:5px;
  top:0.5em;
  visibility: hidden;
}

textarea.comment{
}

div.left{
  float:left;
  width:65%
}

div.right{
  float:right;
}

ul{
  list-style-type: none;
  padding-left: 25px;
}

ul.expanded {
  list-style-image: url("/images/menu-expanded.gif");
}

ul.collapsed {
  list-style-image: url("/images/menu-collapsed.gif");
}

ol.list{
  padding-left:0px;
  list-style-type:none;
}

.message:hover span.actions {
  visibility: visible;
}

.round {
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
}

span.black{
  color:#333333;
  font-weight:normal;
}

ol.comments{
  padding-left: 2%;
}

ol.list > li:hover {
  background-color:#F7F7F7;
}

ol.list > li:first-child    {
  border-top:1px dashed #D2DADA;
}

ol.list > li  {
  border-bottom:1px dashed #D2DADA;
  line-height:1.1em;
  padding:0.7em 0 0.6em;
  position:relative;
  min-height:50px;
}

ol#profile > li {
  min-height: 50px;
}

ol#profile > li:first-child {
  border-top: none;
  height: 100px;
}

ol#profile > li:first-child > span.body{
  width: 80%;
  height: 100px;
}

ol#profile > li:first-child > span.body > span.content {
  font-size: 1.5em;
}

div.group{
  position:relative;
}

div.user{
  position: relative;
  margin-top: 2%;
}

div.member-list {
}

div.group-messages {
}

div.tags {
  border-bottom:1px dashed #D2DADA;
  padding-bottom: 2px;
  float:left;
  width:45%;
}

div.attachment {
  border-bottom:1px dashed #D2DADA;
  float:right;
  width:45%;
}

table.table .cell {
  border:1px solid;
}

ul.tab-menu {
  display:block;
  margin:25px 0 0;
  text-align:center;
}

ul.tab-menu li {
  display:inline;
  cursor: pointer;
  margin:0px 0px 0px 5px;
  padding:0px 5px 3px 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.selected {
  background-color: #E6E6E6;
}

#for_users {
  left:190px;
  position:relative;
  top:-25px;
}
  
#for_group {
  left:210px;
  position:relative;
  top:-25px;
}

#message_form{
  min-height: 140px;
}

select {
  border: 1px solid #AAAAAA
}

div.fragment {
  border-top: 1px solid;
}

.hidden{
  display:none;
}

div.details{
  width: 60%;
  margin-left: 10%;
  margin-top: 10%;
}

ol#details{
  position:relative;
  top:-70px;
  left: 70px;
}

.action-icon {
  border: none;
}

hr
{
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 20px;
  height: 0;
}

#search {
  left:30%;
  position:absolute;
  top:12%;
}

#search .submit {
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topright:3px;
  background-color:#EEEEEE;
  background-position:center top;
  border-style:solid;
  border-width:1px;
  cursor:pointer;
  padding:0.4em 0.9em;
}

#search input, #search_submit {
  border-color:#999999 !important;
  padding-bottom:5px !important;
  padding-top:5px !important;
  vertical-align:middle;
}

#search_submit {
  background:transparent url("/images/search_submit.png") repeat scroll -2px 0 !important;
}

#search_submit:hover {
  background:transparent url("/images/search_submit.png") repeat scroll -2px -25px !important;
}

div.pagination {
  float:right;
}
