.tabbed
  %ul#tabs
    %li#tab1 Group Messages
    %li#tab2 Members

  - if not @group.messages.empty?
    #group_messages
      %h5 Group Messages
      %ol#group_messages.list
        = partial 'tweets/message', :messages => @group.messages

  - if not @group.members.empty?
    #member_list.hidden
      %h5 Members
      %ol#member_list.list
        - @group.members.each do |member|
          %li
            %span.imgn
              = image_tag member.image.url(:thumb), :height=>'50px'
            %span.body
              -if member.nick
                %strong
                  = link_to member.nick, url(:profile, member.nick)
