-@groups.each do |group|
  .group
    = image_tag group.image.url(:thumb), :height=>'80px'
    %span.group-name
      = group.name
  .purpose
    %p.purpose
      = group.purpose

- throw_content :for_sidebar, partial('tweets/sidebar')
