%ul
  %li
    = link_to 'View Profile', url(:user, session.user)
  %li
    = link_to 'Edit Profile', url(:edit_user, session.user)
  %li
    = link_to 'My Groups', url(:memberships)
  %li
    = link_to 'My polls', "/polls/my"
