.details
  = image_tag @user.image.url(:medium), :height=>'100px'
  %ol.details
    %li 
      = @user.name
    %li 
      = @user.nick
    %li 
      = @user.email

- throw_content :for_sidebar, partial('tweets/sidebar')
