%h1
  Polls controller, index action
%p
  Edit this file in
  %tt
    app/views/polls/index.html.erb
%table
  %tr
  - for poll in @polls
    %tr
      %td
        = link_to 'Show', url(:poll, poll)
      %td
        = link_to 'Edit', url(:edit_poll,  poll)

= link_to 'New', url(:new_poll)