%h1 Polls controller, new action

%p 
  Edit this file in 
  %tt app/views/polls/new.html.erb

= error_messages_for @poll

= form_for(@poll, :action => url(:polls) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:polls)