.tags
  = form_for(Tag.new, :action=>url(:tags)) do
    %p
      = hidden_field :name=>'tweet', :value=>@tweet.id
      = text_field :name, :class=>"comment", :row=>"5", :cols=>"80"
    %p
      = submit "Tag"

    -@tweet.tags.each do |tag|
      =tag.name
