%h1 Tags controller, new action

%p 
  Edit this file in 
  %tt app/views/tags/new.html.erb

= error_messages_for @tag

= form_for(@tag, :action => url(:tags) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:tags)