%h1
  PollChoices controller, show action
%p
  Edit this file in
  %tt
    app/views/poll_choices/show.html.erb

= link_to 'Edit',  url(:edit_poll_choice,  @poll_choice)
|
= link_to 'Back', url(:poll_choices)