%p
  %br/

.prefix-4.span-16.suffix-4.last
  %h1 Please login to continue...
  %p
    This website is only accessible to authorized users.
    %br/
    A twitter clone for the office
  %p
    Authorized user proceed by logging in

  = error_messages_for session.authentication
  %form{:action => url(:openid)}
    %input{:name=>'openid_url', :value=>'https://www.google.com/accounts/o8/id', :type=>'hidden'}
    %input{:type => 'submit',:name => 'login', :value=>'Log in using Google'}
